<template>
  <div v-if="$store.state.isAdmin">
      <div v-for="team in this.teams" :key="team.id">
          <TeamState :team="team"/>
      </div>
  </div>
</template>

<script>
import TeamState from '@/components/admin/TeamState'
import TeamService from '../../services/TeamService'

export default {
  data () {
    return {
      teams:[],
    }
  },
      components: {
        TeamState
    },
    async mounted () {
      this.teams = (await TeamService.getAllTeams()).data
    }
}
</script>

<style>

</style>