<template>
<div>
    <span class="teamTitle">{{team.teamName.toUpperCase()}} ({{team.tag}})</span> <br> <Opgg :team="team"/><br>
                        Représentant: {{team.Manager.discord}} <br>
                        <InputSwitch v-model="accept" @change="changeState"/>
                        <br>
</div>
  
</template>

<script>
import Opgg from '@/components/Opgg'
import InputSwitch from 'primevue/inputswitch'
import TeamService from '../../services/TeamService'

export default {
    data () {
        return {
            accept: true
        }
    },
    props: ['team'],
    components: {
        Opgg,
        InputSwitch
    },
    methods: {
        changeState(){
            TeamService.edit({
                "accepted": this.accept
            }, this.team.id)
        }
    },
    mounted () {
        this.accept = this.team.accepted 
    } 
}
</script>

<style>

</style>