<template>
    <div class="bracket">
        <div class="p-d-flex">
            <div class="p-d-flex p-flex-column p-mr-5">
                <!-- Round 1 -->
                <h3 class="roundTitle">Round 1</h3>
                <div class="p-mb-5 p-mt-3">
                    <Match 
                    :team1 = "matches[0].team1" 
                    :team2 = "matches[0].team2" 
                    :score1 = "matches[0].score1" 
                    :score2 = "matches[0].score2" 
                    :state = "matches[0].state"
                    @click.native="editMatch(matches[0].id)"/>

                    <Match 
                    :team1 = "matches[1].team1" 
                    :team2 = "matches[1].team2" 
                    :score1 = "matches[1].score1" 
                    :score2 = "matches[1].score2" 
                    :state = "matches[1].state"
                    @click.native="editMatch(matches[1].id)"/>
                </div>
                <!-- Round 1 LB -->
                <div class="p-mt-5">
                <i>Loser's bracket</i>
                    <Match 
                    :team1 = "matches[2].team1" 
                    :team2 = "matches[2].team2" 
                    :score1 = "matches[2].score1" 
                    :score2 = "matches[2].score2" 
                    :state = "matches[2].state"
                    @click.native="editMatch(matches[2].id)"/>
                    <Match 
                    :team1 = "matches[3].team1" 
                    :team2 = "matches[3].team2" 
                    :score1 = "matches[3].score1" 
                    :score2 = "matches[3].score2" 
                    :state = "matches[3].state"
                    @click.native="editMatch(matches[3].id)"/>
                </div>
                
            </div>
            <div class="p-d-flex p-flex-column p-mr-5">
                <h3 class="roundTitle">Round 2</h3>
                <!-- Round 2 -->
                <div class="p-mb-5">
                    <Match 
                    :team1 = "matches[4].team1" 
                    :team2 = "matches[4].team2" 
                    :score1 = "matches[4].score1" 
                    :score2 = "matches[4].score2" 
                    :state = "matches[4].state"
                    @click.native="editMatch(matches[4].id)"/>
                    <Match 
                    :team1 = "matches[5].team1" 
                    :team2 = "matches[5].team2" 
                    :score1 = "matches[5].score1" 
                    :score2 = "matches[5].score2" 
                    :state = "matches[5].state"
                    @click.native="editMatch(matches[5].id)"/>
                </div>
                <!-- Round 2 LB -->
                <div>
                    <div class="p-mt-6"></div>
                    <Match 
                    :team1 = "matches[6].team1" 
                    :team2 = "matches[6].team2" 
                    :score1 = "matches[6].score1" 
                    :score2 = "matches[6].score2" 
                    :state = "matches[6].state"
                    @click.native="editMatch(matches[6].id)"/>
                    <Match 
                    :team1 = "matches[7].team1" 
                    :team2 = "matches[7].team2" 
                    :score1 = "matches[7].score1" 
                    :score2 = "matches[7].score2" 
                    :state = "matches[7].state"
                    @click.native="editMatch(matches[7].id)"/>
                </div>
            </div>
            <div class="p-d-flex p-flex-column p-mr-5">
                <h3 class="roundTitle">Finale des Champions</h3>
                <!-- Finale des Champions -->
                <div class="p-mt-6 p-mb-5">
                     <Match class="p-mt-5"
                     :team1 = "matches[8].team1" 
                     :team2 = "matches[8].team2" 
                     :score1 = "matches[8].score1" 
                     :score2 = "matches[8].score2" 
                     :state = "matches[8].state"
                     @click.native="editMatch(matches[8].id)"/>
                </div>
                <!-- Round 3 -->
                <div style="margin-top:11rem">
                    <h3 class="roundTitle">Round 3</h3>
                    <Match 
                    :team1 = "matches[9].team1" 
                    :team2 = "matches[9].team2" 
                    :score1 = "matches[9].score1" 
                    :score2 = "matches[9].score2" 
                    :state = "matches[9].state"
                    @click.native="editMatch(matches[9].id)"/>
                </div>
            </div>
            <div class="p-d-flex p-flex-column p-mr-5">  
                <!-- Petite Finale -->
                <div style="margin-top: 31rem">
                    <h3 class="roundTitle">Petite Finale</h3>  
                    <Match 
                    :team1 = "matches[10].team1" 
                    :team2 = "matches[10].team2" 
                    :score1 = "matches[10].score1" 
                    :score2 = "matches[10].score2" 
                    :state = "matches[10].state"
                    @click.native="editMatch(matches[11].id)"/>
                </div>
            </div>
            <div class="p-d-flex p-flex-column p-mr-5"> 
                <!-- Grande Finale -->             
                <div style="margin-top: 17rem">
                    <h3 class="roundTitle">Grande Finale</h3> 
                    <Match 
                    :team1 = "matches[11].team1" 
                    :team2 = "matches[11].team2" 
                    :score1 = "matches[11].score1" 
                    :score2 = "matches[11].score2" 
                    :state = "matches[11].state"
                    @click.native="editMatch(matches[11].id)"/>             
                </div>
            </div>
        </div> 
    </div>
</template>

<script>
import MatchService from '../../services/MatchService'
import Match from './Match.vue';

export default {
    name: 'LrcBracket',
    components: { Match },
    data() {
        return {
            matches:[]
        };
    },
    async mounted() {
        this.matches = (await MatchService.getAllMatches()).data
    },
    methods: {
        editMatch(id) {
            if(this.$store.state.isAdmin) {
                this.$router.push({
                name: 'MatchEdit', 
                params: {
                    matchId: id
                    }
                })
            }      
        }
    },
};
</script>

<style>
.roundTitle{
    background-color: purple;
    border: solid;
    border-color: white;
    border-radius: 75px;
    width: 80%;
    text-align: center;
    margin-left: 80px;
}
</style>