<template>
    <div>

        <select v-model= "newMatch.state">
            <option>waiting</option>
            <option>pending</option>
            <option>end</option>
        </select> <br>
        <span v-if="newMatch.team1">
            {{newMatch.team1.teamName}}
        </span>
        <select v-model="newMatch.team1">
            <option v-for="team of teams" :value="team.id" :key="team.id">
                {{team.teamName}}
            </option>
        </select> 
        <input v-model="newMatch.score1"> <br>
        <span v-if="newMatch.team2">
            {{newMatch.team2.teamName}}
        </span>
        <select v-model="newMatch.team2">
            <option v-for="team of teams" :value="team.id" :key="team.id">
                {{team.teamName}}
            </option>
        </select> 
        <input v-model="newMatch.score2"> <br>
        <button @click="editMatch">edit</button>
        
    </div>
</template>

<script>
import MatchService from '../../services/MatchService'
import TeamService from '../../services/TeamService'
import {mapState} from 'vuex'

export default {
    data () {
        return {
            match: {},
            teams: [],
            newMatch: {},
        }
    },
    async mounted() { 
        this.match = (await MatchService.getMatch(this.route.params.matchId)).data
        this.newMatch = this.match 
        this.teams = (await TeamService.getAllTeams()).data
        this.teams.push({teamName:"null", id:null})
    },
    methods: {
        async editMatch(){
            if(this.newMatch.team1 && this.newMatch.team1.id) {
                this.newMatch.team1 = this.newMatch.team1.id
            }
            if(this.newMatch.team2 && this.newMatch.team2.id) {
                this.newMatch.team2 = this.newMatch.team2.id
            }
            await MatchService.editMatch(this.route.params.matchId, this.newMatch)
            this.$router.push({
                name: "Playoffs"
            })
        },
    },
    computed: {
        ...mapState(['route'])
    }
};
</script>

<style scoped>

</style>