<template>
    <div class="match p-d-flex p-flex-column">
        <div class="p-d-flex p-jc-between p-mr-2 teamMatch">
            <div class="p-mt-auto p-mb-auto">
                <img v-if="team1" :src="team1.logo" alt="" class="teamLogo">
            </div>
            <div class="p-mt-auto p-mb-auto">
                <span v-if="team1" class="teamName" :style="{color: getStyle(1)}">
                {{team1.teamName}}
                </span>
                <span v-else>
                    
                </span> 
            </div>
            <div class="p-mt-auto p-mb-auto score">
                <span 
                    v-if="state != 'waiting'" 
                    :style="{color: getStyle(1)}">
                    {{score1}}
                    </span>
                <span v-else>-</span><br/>
            </div>           
        </div>
        <div class="p-d-flex p-jc-between p-ml-2 p-mr-2 teamMatch">
            <div class="p-mt-auto p-mb-auto">
                <img v-if="team2" :src="team2.logo" alt="" class="teamLogo">
            </div>
            <div class="p-mt-auto p-mb-auto">
                <span v-if="team2" class="teamName" :style="{color: getStyle(2)}">
                {{team2.teamName}}
                </span>
                <span v-else>
                    
                </span> 
            </div>
            <div class="p-mt-auto p-mb-auto score">
                <span v-if="state != 'waiting'"
                :style="{color: getStyle(2)}">
                {{score2}}
                </span>
                <span v-else>-</span><br/>
            </div>         
        </div>
    </div>
</template>

<script>
export default {
    name: 'Match',
    data() {
        return {
        };
    },
    methods: {
        getStyle(team){
            if (this.state !== 'end') {
                return 'white'
            }
            if(team == 1) {
                return this.score1 > this.score2 ? 'green' : 'red'
            } else {
                return this.score2 > this.score1 ? 'green' : 'red'
            }
            
        }
    },
    props: ['team1', 'team2', 'score1', 'score2', 'state'],
};
</script>

<style scoped>
.match{
    border: solid;
    border-radius: 15px;
    width: 375px;
    height: 120px;
    margin-left: 60px;
    margin-bottom: 75px ;
}
.teamLogo{
    width: auto;
    height: 45px;
}
.teamMatch {
    margin-left: 15px;
    height: 60px;
    font-weight: bold;
}
.score{
    font-size:30px;
    font-weight: bold
}
.teamName{
    font-size: 1.5rem;
}
</style>