<template>
    <div class="playoffs">
    <div class="p-col">
        <div class="box"><Menu/></div>
    </div>
    <h1 style="font-size:40px">LoL Reroll Cup Summer 2021 - Playoffs</h1>
        <Bracket/>
    </div>
</template>

<script>
import Bracket from '@/components/playoffs/Bracket.vue'
import Menu from '@/components/Menu.vue'

export default {
    name: 'LrcPlayoffs',
    components: { Bracket, Menu },
};
</script>

<style scoped>
.playoffs{
     background-color: rgba(0,0,0,0.50) ;
     width: 100%;
     height: 100vh;
}
</style>