<template>
    <div div class="create" v-if="creation">
        <div class="p-grid p-flex-column">
      <div class="p-col">
        <div class="box"><Menu/></div>
      </div>
    </div>
        <h1>Inscription à la League of Legends Reroll Cup - Summer 2021</h1>
        <div class="createTeam">

        <Panel header="Représentant de l'équipe" class="registerPanel">
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
                <InputText placeholder="Email" v-model="email" :required="true" type="email" />
            </div>
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-discord"></i>
            </span>
                <InputText placeholder="Discord" v-model="discord" :required="true"/>
            </div>
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
                <InputText placeholder="Mot de passe" v-model="password" :required="true" type="password"/>
            </div>
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
                <InputText placeholder="Confirmer le mot de passe" v-model="confirmPassword" :required="true" type="password"/>
            </div>
            <a class="loginError" v-if="this.errorManager">{{errorManager}}</a><br>
        </Panel>


        <Panel header="Informations sur l'équipe" class="registerPanel">
             <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lol"></i>
            </span>
                <InputText placeholder="Nom de l'équipe" v-model="teamname" :required="true"/>
            </div>
             <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-loc"></i>
            </span>
                <InputText placeholder="TAG" v-model="tag" @input="tag = tag.toUpperCase()" :required="true" maxlength="3"/>
            </div>
             <div class="p-inputgroup registerInput">
                <FileUpload name="logo[]" :customUpload="true" @select="upload" chooseLabel="Ajouter un Logo" accept= "image/*" :showUploadButton="false" :showCancelButton="false"/>
            </div>
            <a class="loginError" v-if="this.errorTeam">{{errorTeam}}</a><br>
        </Panel>
        


        <Panel header="Composition de l'équipe" class="registerPanel">
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
                <InputText placeholder="Pseudo joueur 1" v-model="player1" :required="true"/>
            </div>
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
                <InputText placeholder="Pseudo joueur 2" v-model="player2" :required="true"/>
            </div>
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
                <InputText placeholder="Pseudo joueur 3" v-model="player3" :required="true"/>
            </div>
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
                <InputText placeholder="Pseudo joueur 4" v-model="player4" :required="true"/>
            </div>
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
                <InputText placeholder="Pseudo joueur 5" v-model="player5" :required="true"/>
            </div>
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
                <InputText placeholder="Pseudo du premier remplaçant" v-model="sub1"/>
            </div>
            <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
                <InputText placeholder="Pseudo du deuxième remplaçant" v-model="sub2"/>
            </div>
             <a class="loginError" v-if="this.errorPlayers">{{errorPlayers}}</a><br>
        </Panel>


        <Panel header="Validation" class="registerPanel">
            <div class="checkboxes">
                <Checkbox v-model="acceptRules" :binary="true"/> Je certifie avoir lu le règlement du tournoi et j'accepte ce dernier. <br>
                <Checkbox v-model="acceptTeam" :binary="true"/> En inscrivant mon équipe, j'engage la dite équipe à participer à tous les matchs prévus par l'organisation de la compétition sous peine de disqualification. <br>
            </div>
            <a class="loginError" v-if="this.errorValidation">{{errorValidation}}</a><br>
            <Button class= "p-button-help p-button-lg" style="margin-right:10px; margin-top:10px" @click="create">Valider</button>
            <Button class= "p-button-help p-button-lg" @click="back">Retour</button><br>
        </Panel>

        </div>
        
    </div>
    <div class = "confirmation" v-else>
        <img src="../assets/logo.png" alt="logo lrc" class="lrcicon"><br>
        L'inscription de l'équipe {{ this.teamname }} a bien été prise en compte ! <br>
        <ul>
            <li> Un admin de tournoi va examiner la demande et la valider. </li>
            <li> Une fois l'inscription validée, l'équipe sera visible sur l'écran d'accueil.</li>
            <li> Tu peux à tout moment te connecter pour modifier les informations de l'équipe.</li>
            <li> Si tu as des question tu peux contacter Nelopsis#3827 sur discord.</li>
        </ul>
                    <br>
            À très vite sur Reroll :) <br><br>
        <Button class= "p-button-help p-button-lg" @click="back">Accueil</button><br>

    </div>
</template>

<script>
import {mapState} from 'vuex'
import TeamService from '@/services/TeamService'
import Panel from 'primevue/panel'
import InputText from 'primevue/inputtext'
import FileUpload from 'primevue/fileupload'
import Button from 'primevue/button'
import Checkbox from 'primevue/checkbox'
import Menu from '@/components/Menu'
import firebase from 'firebase'
import checkDiscord from '@/tools/checkDiscord'
import checkPassword from '@/tools/checkPassword'

export default {
  data () {
        return {
            state: true,
            email:'',
            discord:'',
            password:'',
            confirmPassword:'',
            teamname:'',
            tag:'',
            logo:'',
            logoUrl:'',
            player1:'',
            player2:'',
            player3:'',
            player4:'',
            player5:'',
            sub1:'',
            sub2:'',
            acceptRules: false ,
            acceptTeam: false,
            players:[],
            creation: true,
            errorManager:null,
            errorTeam: null,
            errorPlayers: null,
            errorValidation:null
        }
    },
    components: {
        Panel,
        InputText,
        FileUpload,
        Button,
        Checkbox,
        Menu
    },
    computed: {
    ...mapState([
      'isUserLoggedIn',
      'isAdmin'
    ])
    },
    methods: {
        async create() {
    
            try {
                let validation = this.inputValidation()
                if(validation) {
                    if(this.logo) {
                        const storageRef = await firebase.storage().ref(this.logo.name).put(this.logo)
                        this.logoUrl = await storageRef.ref.getDownloadURL()
                    }

                    this.fillPlayers()                    
                    await TeamService.create({
                        Manager: {
                            email: this.email,
                            discord: this.discord,
                            password: this.password,
                            isAdmin: false
                        },
                        Team: {
                            teamName: this.teamname,
                            tag: this.tag,
                            logo: this.logoUrl || null
                        },
                        Players: this.players
                    })
                    this.creation = false
                }
                else {
                    return
                }           
            } catch (error) {
                this.error = `Une erreur est survenue`
            }
        },
        fillPlayers() {
            this.players.push(this.player1)
            this.players.push(this.player2)
            this.players.push(this.player3)
            this.players.push(this.player4)
            this.players.push(this.player5)

            if(this.sub1 != '') {
                this.players.push(this.sub1)
            }

            if(this.sub2 != '') {
                this.players.push(this.sub2)
            }           
        },
        inputValidation() {
                this.errorManager = null
                this.errorTeam = null
                this.errorValidation = null
                this.errorPlayers = null
                //manager verification
                if(this.email == '' || this.discord == '' || this.password == '' || this.confirmPassword == '') {
                    this.errorManager = 'Veuillez renseigner tous les champs du formulaire.'
                    return false
                }
                if(!this.email.match(/^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$/g)) {
                    this.errorManager = 'Veuillez entrer une adresse email valide.'
                    return false
                }
                if(!checkDiscord(this.discord)) {
                    this.errorManager = 'Le discord doit être au format pseudo#xxxx'
                    return false
                }

                if(this.password != this.confirmPassword) {
                    this.errorManager = 'Le mot de passe et sa vérification doivent être les mêmes.'
                    return false
                }

                if(!checkPassword(this.password)) {
                    this.errorManager = 'Le mot de passe doit contenir au moins 8 caractères, une lettre et un chiffre.'
                    return false
                }

                //Team verification
                if(this.teamName == '' || this.tag == '') {
                    this.errorTeam = 'Veuillez renseigner tous les champs du formulaire.'
                    return false
                }

                //Players verification
                if(this.player1 == '' || this.player2 == '' || this.player3 == '' || this.player4 == '' || this.player5 == '') {
                    this.errorPlayers = `Il faut au minimum 5 joueurs pour inscrire l'équipe`
                    return false
                }

                //Validation verification
                if(this.acceptRules == false) {
                    this.errorValidation = 'Il faut accepter le règlement de la compétition pour pouvoir participer.'
                    return false
                }

                if(this.acceptTeam == false) {
                    this.errorValidation = 'Il faut accepter de participer à tous les matchs de la compétition pour participer.'
                    return false
                }
                
                return true
        },
        back() {
            this.$router.back()
        },
        upload(event) {
            this.logo = event.files[0]
		}
    },
}
</script>

<style>
    .createTeam{
        margin: 0 auto;
    }
    .confirmation {
        text-align: left;
        margin-left: 300px;
    }
    .registerPanel{
        width: 50%;
        margin: auto;
        margin-top: 20px ;
    }
    .registerInput{
        margin: 10px;
    }
    .p-panel .p-panel-header{
        background: rgb(135, 4, 135) !important;
        color: white !important;
    }
    .checkboxes{
       text-align: left;
       margin-left: 50px;
    }
    .lrcicon{
        width: 200px;
    }

    
</style>