<template>
  <div div class="create">
    <div class="p-grid p-flex-column">
      <div class="p-col">
        <div class="box">
          <Menu/>
        </div>
      </div>
    </div>
    <h1>Modifier l'équipe {{ this.teamname }}</h1>
    <div class="createTeam">
      <Panel header="Représentant de l'équipe" class="registerPanel">
        <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-discord"></i>
            </span>
          <InputText placeholder="Discord" v-model="discord"/>
        </div>
        <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
          <InputText placeholder="Mot de passe" v-model="password" type="password"/>
        </div>
        <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
          <InputText placeholder="Confirmer le mot de passe" v-model="confirmPassword" type="password"/>
        </div>
        <a class="loginError" v-if="this.errorManager">{{ errorManager }}</a><br>
        <Button class="p-button-help" style="margin-right:10px; margin-top:10px" @click="editManager">Modifier</button>

      </Panel>


      <Panel header="Informations sur l'équipe" class="registerPanel">
        <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lol"></i>
            </span>
          <InputText placeholder="Nom de l'équipe" v-model="teamname" :required="true"/>
        </div>
        <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-loc"></i>
            </span>
          <InputText placeholder="TAG" v-model="tag" @input="tag = tag.toUpperCase()" :required="true" maxlength="3"/>
        </div>
        <div class="p-inputgroup registerInput">
            <span class="p-inputgroup-addon">
                <i class="pi pi-sword"></i>
            </span>
          <InputText placeholder="Op.gg de l'équipe" v-model="opgg"/>
        </div>
        <a :href="opgg" target="_blank">Cliquer pour voir l'opgg</a>
        <div class="p-inputgroup registerInput">
          <FileUpload name="logo[]" :customUpload="true" @select="upload" @clear="this.logo = null"
                      chooseLabel="Ajouter un Logo" accept="image/*" :showUploadButton="false"
                      :showCancelButton="false"/>
        </div>
        <div><img :src="this.logoUrl" style="width:200px;" alt=""></div>
        <a class="loginError" v-if="this.errorTeam">{{ errorTeam }}</a><br>
        <Button class="p-button-help" style="margin-right:10px; margin-top:10px" @click="editTeam">Modifier</button>
      </Panel>


      <Button class="p-button-help p-button-lg" @click="back">Retour</button>
      <br>
    </div>

  </div>
</template>

<script>
import {mapState} from 'vuex'
import TeamService from '@/services/TeamService'
import ManagerService from '@/services/ManagerService'
import Panel from 'primevue/panel'
import InputText from 'primevue/inputtext'
import FileUpload from 'primevue/fileupload'
import Button from 'primevue/button'
import Menu from '@/components/Menu'
import firebase from 'firebase'

import checkDiscord from '@/tools/checkDiscord'
import checkPassword from '@/tools/checkPassword'

export default {
  data() {
    return {
      state: true,
      team: {},
      email: '',
      discord: '',
      password: '',
      confirmPassword: '',
      teamname: '',
      tag: '',
      logo: '',
      logoUrl: '',
      opgg: '',
      errorManager: null,
      errorTeam: null,
    }
  },
  components: {
    Panel,
    InputText,
    FileUpload,
    Button,
    Menu
  },
  computed: {
    ...mapState([
      'isUserLoggedIn',
      'isAdmin',
      'manager'
    ])
  },
  methods: {
    async editManager() {
      let manager = {}
      if (this.discord == '') {
        this.errorManager = 'Veuillez renseigner tous les champs du formulaire.'
        return
      }

      if (!checkDiscord(this.discord)) {
        this.errorManager = 'Le discord doit être au format pseudo#xxxx'
        return
      }

      manager.discord = this.discord

      if (this.password != '') {
        if (this.password != this.confirmPassword) {
          this.errorManager = 'Le mot de passe et sa vérification doivent être les mêmes.'
          return
        }

        if (!checkPassword(this.password)) {
          this.errorManager = 'Le mot de passe doit contenir au moins 8 caractères, une lettre et un chiffre.'
          return
        }

        manager.password = this.password
      }

      await ManagerService.edit(this.manager.id, manager)
      this.errorManager = 'Le représentant a bien été modifié.'

    },
    async editTeam() {
      if (this.teamName == '' || this.tag == '') {
        this.errorTeam = 'La team doit avoir un nom et un tag.'
        return
      }

      if (this.logo != '') {
        const storageRef = await firebase.storage().ref(this.logo.name).put(this.logo)
        this.logoUrl = await storageRef.ref.getDownloadURL()
      }

      await TeamService.edit({
        "teamName": this.teamname,
        "tag": this.tag,
        "logo": this.logoUrl || null,
        "opgg": this.opgg
      }, this.team.id)
      this.errorTeam = `L'équipe a bien été modifiée.`
    },
    back() {
      this.$router.back()
    },
    upload(event) {
      this.logo = event.files[0]
    }
  },
  async mounted() {
    this.team = (await TeamService.managerTeam(this.manager.id)).data
    this.discord = this.team.Manager.discord
    this.opgg = this.team.opgg
    this.teamname = this.team.teamName
    this.tag = this.team.tag
    this.logoUrl = this.team.logo
  }
}
</script>

<style>
.createTeam {
  margin: 0 auto;
}

.confirmation {
  text-align: left;
  margin-left: 300px;
}

.registerPanel {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.registerInput {
  margin: 10px;
}

.p-panel .p-panel-header {
  background: rgb(135, 4, 135) !important;
  color: white !important;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .registerPanel {
    width: 100%;
  }
}

</style>
