<template>
  <div class="home">
    <div class="p-grid p-flex-column">
      <div class="p-col">
        <div class="box"><Menu/></div><br><br><br>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-7">
        <div class="box">
          <TeamView/>        
        </div>
      </div>
      <div class="p-col-4">
        <div class="box info"><Info/></div>
      </div>
    </div>

    
    
  </div>
</template>

<script>

import Menu from '@/components/Menu.vue'
import TeamView from '@/components/TeamVue.vue'
import Info from '@/components/Info.vue'
export default {
  name: 'Home',
  components: {
    Menu,
    TeamView,
    Info,
  } 
}
</script>

<style>
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .infos{
          display: none;
        } 
    }   
</style>
