<template>
  <div>
      <div class="infos">
            <div class="p-grid">
                <div class="p-col-2 logoInfo" >
                    <img src="../assets/picto_regles_03.png" style="width: 100px;" alt="Logo of the team">       
                </div>
                <div class="p-col-10">
                  <div class="box">
                    <span class="infoTitle">Format:</span> 
                    <ul>
                        <li>Saison régulière (5semaines) avec un BO2 par semaine. Les 3 premiers de chaque groupe se qualifient pour les playoffs.</li>
                        <li>Match de Barrage (BO3), le 4ème du groupe 1 affronte le 5ème du groupe 2 et inversement. Le vainqueur de chaque match se qualifie pour les playoffs.</li>
                        <li>Playoffs au format <a href="https://www.youtube.com/watch?v=zkQkIq2MiVk" target="_blank">LCS Summer 2020</a>. Round 1 en BO3, le reste en BO5</li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-2 logoInfo">
                    <img src="../assets/picto_trophee_03.png" style="width: 100px;" alt="">       
                </div>
                <div class="p-col-10">
                  <div class="box">
                    <span class="infoTitle">Panthéon:</span> 
                    <ul class="pantheon">
                      <li> <a href="https://www.toornament.com/fr/tournaments/2399678658853117952/information" target="_blank">LRC Summer 2019</a>: Reroll Unleashed</li>
                      <li><a href="https://www.toornament.com/fr/tournaments/2669608933942321152/information" target="_blank">LRC Winter 2019</a>: Répulsif et les Autres</li>
                      <li><a href="https://www.toornament.com/fr/tournaments/3495263029086658560/information" target="_blank">LRC Summer 2020</a>: Les Retraités</li>
                      <li><a href="https://www.toornament.com/fr/tournaments/3858221175410606080/information" target="_blank">LRC Winter 2020</a>: Les Retraités</li>
                      <li><a href="https://www.toornament.com/fr/tournaments/4436570792219254784/information" target="_blank">LRC Summer 2021</a>: Les Retraités</li>
                  </ul>
                  </div>
                </div>
            </div> 
            <div class="p-grid">
                <div class="p-col-2 logoInfo">
                    <img src="../assets/picto_info_03.png" style="width: 100%;" alt="Logo of the team">       
                </div>
                <div class="p-col-10">
                  <div class="box">
                    <span class="infoTitle">Reroll:</span>  <br>
                    Depuis Janvier 2018, Reroll est une communauté proposant un encadrement pour des joueurs de tout niveau dans le but de permettre leur progression dans les meilleures conditions.
L’association propose également des événements afin d’assurer une bonne cohésion en son sein. <br><br>
                  </div>
                </div>
            </div> 
             <div style="float: right">
                <a href="https://discord.gg/H6TEayY" target="_blank" class="resIcon"><img src="../assets/reseaux_discord_03.png" alt=""></a>
                <a href="https://twitter.com/RerollCommunity" target="_blank" class="resIcon"> <img src="../assets/reseaux_twitter_03.png" alt=""></a>
                <a href="https://twitch.tv/Reroll_Community" target="_blank" class="resIcon"> <img src="../assets/reseaux_twitch_03.png" alt=""></a>
                <a href="https://www.instagram.com/rerollcommunity" target="_blank" class="resIcon"> <img src="../assets/reseaux_insta_03.png" alt=""></a>
            </div>  
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
 a{
     color: white;
 }
</style>
<style>
.logoInfo{
    margin: auto;
}
.infos{
    text-align: left;
    font-weight: bold;

}
.resIcon{
    margin-left: 30px ;
}
.infoTitle{
    text-decoration: underline;
    font-size: 20px;
}

@media  only screen and (max-width: 15in) {
  .logoInfo{
  display: none !important;
  }
}
</style>