<template>
  <div class="p-fluid" >
        <div class="p-col-12 p-md-3 login">
            <span style="font-weight: bold; float: left">Connexion </span> 
            <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
                <InputText placeholder="Email" v-model="email"/>
            </div>
            <div class="p-inputgroup p-mt-1">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
                <InputText placeholder="password" type="password" v-model="password" />
            </div>
            <a class="loginError" v-if="this.error">{{error}}</a>
            <div class="p-mt-1">
            <Button label="Connexion" icon="pi pi-check" iconPos="right" @click="login()" class="p-button-help"/>
            </div>
            
        </div>
  </div>

</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'

import InputText from 'primevue/inputtext'
import Button from 'primevue/button'

export default {
  data () {
    return {
      email:'',
      password:'',
      error:null
    }
  },
  components: {
      InputText,
      Button,
    
  },
  methods:{
    async login () {
      try{
        const apiResponse = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })
        this.$store.dispatch('setToken', apiResponse.data.token)
        this.$store.dispatch('setManager', {
          "email":apiResponse.data.manager.email,
          "id":apiResponse.data.manager.id
        })
        this.$store.dispatch('setAdmin', apiResponse.data.manager.isAdmin)
        this.$router.push({name:'Home'})

      } catch (error) {
        this.error = "Echec de lors de l'authentification. \n Veuilez vérifier les informations saisies."
      }
    }
  }
}

</script>

<style>
.loginError{
  font-weight: bold;
  color: red
}
.login{
  border: 2px solid;
  border-color:#8C239E ;
  background-color: white;
  top:50px;
  right: 30px;
  z-index: 9;
  position: fixed; 
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .login{
      width: 80% !important;
    } 
}  
</style>