<template>
  <div>
    <img src="../assets/logo.png" class="menuIcon" alt="" @click="home">
    <span class="title">League of Legends Reroll Cup Winter 2021</span> 
    <span v-if="!this.$store.state.isUserLoggedIn">
        <img src="../assets/connexion_off_03.png" class="menuButton" @click="displayLogin = !displayLogin" v-if="!$store.state.isUserLoggedIn && !trigger" @mouseenter="trigger=true">
        <img src="../assets/connexion_on_03.png" class="menuButton" @click="displayLogin = !displayLogin" v-if="!$store.state.isUserLoggedIn && trigger" @mouseout="trigger=false"> 
        <div v-if="displayLogin" class="loginMenu">
            <Login class="loginmenu"/>
        </div>       
    </span>
    <span v-else>
        <img src="../assets/menu_off_03.png" class="menuButton" @click="toggle" v-if="$store.state.isUserLoggedIn && !trigger" @mouseenter="trigger=true">
        <img src="../assets/menu_on_03.png" class="menuButton" @click="toggle" v-if="$store.state.isUserLoggedIn && trigger" @mouseout="trigger=false"> 
        <Menu id="overlay_menu" ref="menu" :model="items" :popup="true"/>
    </span>
  </div>     
</template>

<script>
import Login from '@/components/Login.vue'
import Menu from 'primevue/menu';

export default {
    data () {
        return {
            displayLogin: false,
            trigger: false,
            items: [
          {
            label: 'Mon équipe',
            command: () => {
              this.$router.push({name: 'EditTeam'});
            }
          },
          {
            label: 'Se déconnecter',
            command: () => {
              this.logout();
            }
          },
      ]
        }
    },
    components: {
        Menu,
        Login
    },
    methods: {
    toggle(event) {
      this.$refs.menu.toggle(event);
    },
    home () {
      this.$router.push({name: 'Home'})
    },
    logout () {
      this.$store.dispatch('setToken', null)
      this.$store.dispatch('setManager', null)
      this.$store.dispatch('setAdmin',false)
      this.$router.push({
        name: 'Home'
      })
    }
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.menuButton{
  float: right;
}
.menuIcon{
  width: 90px;
  margin-left: 100px;
  float: left;
}
.title{
  font-weight: bold;
  font-size: 60px;
  line-height: 1.2em;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .title{
          display: none;
        } 
        .menuIcon{
          margin-left: 0;
        }
    }   
</style>