<template>
  <div></div>
</template>

<script>
export default {
    mounted(){
        window.location.href = 'https://play.toornament.com/fr/tournaments/4938430143367036928/stages/4938435457986576384/';
    }
}
</script>

<style>

</style>