<template>
  <div class="tvComponent">
<!--      <img src="../assets/pas_encore_inscrit_off_03.png" @click="register" v-if="!$store.state.isUserLoggedIn && !trigger" @mouseenter="trigger=true">
      <img src="../assets/pas_encore_inscrit_on_03.png" @click="register" v-if="!$store.state.isUserLoggedIn && trigger" @mouseout="trigger=false">-->
      <!-- <button class="buttonPlayoffs" @click="playoffs">Les Playoffs, c'est par là !</button> -->
      <h2>Les équipes inscrites</h2>
              <DataView :value="teams" :layout="layout" :rows="12">
                <template #empty> <span style="font-size:30px; margin-left:20px;">Il n'y a aucune équipe inscrite pour le moment.</span></template>
                <template #grid="team">
                  <div class="p-grid team" v-if="team.data.accepted">
                    <div class="p-col-3 logoTeamVue">
                        <img v-if="team.data.logo" :src="team.data.logo" style="width: 70px;" alt="Logo of the team">       
                    </div>
                    <div class="p-col-9">
                      <div class="box">
                        <span class="teamTitle">{{team.data.teamName.toUpperCase()}} ({{team.data.tag}})</span> <br> <Opgg :team="team.data"/><br>
                        Représentant: {{team.data.Manager.discord}}
                      </div>
                    </div>
                  </div> 
                </template>            
              </DataView>
  </div>
</template>

<script>

import Opgg from '@/components/Opgg'
import TeamService from '../services/TeamService'
import DataView from 'primevue/dataview';

export default {
  data () {
    return {
      layout:'grid',
      teams:[],
      trigger: false
    }
  },
      components: {
        Opgg,
        DataView
    },
    methods: {
      register() {
        this.$router.push({name: 'CreateTeam'})
      },
      playoffs() {
        this.$router.push({name:"Playoffs"})
      }
    },
    async mounted () {
      this.teams = (await TeamService.getAllTeams()).data
    }
}
</script>

<style>
.teamVue{

  text-align: left;
  margin-left: 10px;
}
.team{
  margin-bottom: 50px;
  width: 33%;
}
.teamTitle{
  font-size: 20px;
}
.logoTeamVue{
    margin: auto;
}
.p-dataview-content{
  background-color: transparent !important;
  color: white !important;
  text-align: left!important;
  font-weight: bold !important;
}
.buttonPlayoffs {
  background-color: #5E4670; 
  color: white; 
  width: 400px; 
  height: 50px; 
  font-size:20px; 
  border: solid; 
  cursor: pointer;
  font-weight: bold;
  border-radius: 52px
}
.buttonPlayoffs:hover{
  background-color: white;
  color: #5E4670
}
@media  only screen and (max-width: 15in) {
  .team{
  width: 50% !important;
  }
}

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .team{
        width: 100% !important;
        }
        .logoTeamVue{
          display: none;
        }
    }   

</style>
