<template>
  <div id="app">
      
    <router-view/>
  </div>
</template>
<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  async mounted() {
    if(this.$store.state.isUserLoggedIn) {
      try {
        await AuthenticationService.check()
      } catch (e) {
        this.$store.dispatch('setToken', null)
        this.$store.dispatch('setManager', null)
        this.$store.dispatch('setAdmin',false)
        this.$router.push({
          name: 'Home'
        })
      }
    }
  }
}
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
#app {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:white
}
a:visited{
  color:#0000ee
}
body{
     background-image: url('./assets/fond_site.png');
     background-size:cover;   
}
</style>
